body
{
font-family: Verdana, sans-serif;
font-size:100%;
background-color:#e0e0e0;
color: #696969;
}

h1
{
font-size:22px;
}

ul#menu
{
font-size:14px;
padding: 0px;
position: relative;
margin: 0;
}

ul#menu li
{
display: inline;
background-color: #eeeeee;
padding: 10px 20px;
text-decoration: none;
line-height: 28px;
border-radius: 4px 4px 0 0;
cursor:pointer;
}

ul#menu li:hover
{
background-color: #ffffff;
}